In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cpcb_delhi_data_2006-2018-raw-cleaned\delhi_hourly_pm25_2006-2018.csv')
df.head()

  station           city  dd-mmm-yyyy  hh:mm  year  month  day  hour  value
0     ITO   Delhi - CPCB  05-Sep-2006  14:00  2006      9    5    15   45.2
1     ITO   Delhi - CPCB  05-Sep-2006  14:15  2006      9    5    15   44.7
2     ITO   Delhi - CPCB  05-Sep-2006  14:30  2006      9    5    15   44.6
3     ITO   Delhi - CPCB  05-Sep-2006  14:45  2006      9    5    15   44.6
4     ITO   Delhi - CPCB  05-Sep-2006  15:00  2006      9    5    16   44.6

In [3]:
df.count()

station        2373270
city           2373270
dd-mmm-yyyy    2373270
hh:mm          2373270
year           2373270
month          2373270
day            2373270
hour           2373270
value          2373270
dtype: int64

In [4]:
df.station.unique()

array(['ITO', 'North Campus', 'Pusa', 'CRRI Mathura Road', 'Aya Nagar',
       'Burari Crossing', 'Mandir Marg', 'Punjabi Bagh', 'R K Puram',
       'Anand Vihar', 'IGI Airport (T3)', 'Lodhi Road', 'NSIT Dwarka',
       'Shadipur', 'DTU', 'Sirifort', 'Ashok Vihar',
       'Dr. Karni Singh Shooting Range', 'Dwarka-Sector 8',
       'Jahangirpuri', 'Jawaharlal Nehru Stadium',
       'Major Dhyan Chand National Stadium', 'Najafgarh', 'Narela',
       'Nehru Nagar', 'Okhla Phase-2', 'Patparganj', 'Rohini',
       'Sonia Vihar', 'Vivek Vihar', 'Wazirpur', 'Bawana', 'Mundka',
       'Sri Aurobindo Marg', 'Alipur'], dtype=object)

In [5]:
df_ITO = df[df['station'] == 'ITO']
df_ITO.value_counts()

station  city          dd-mmm-yyyy  hh:mm  year  month  day  hour  value
ITO      Delhi - CPCB  01-Apr-2007  00:00  2007  4      1    1     379.0    1
                       21-Jan-2009  19:45  2009  1      21   20    87.0     1
                                    20:15  2009  1      21   21    92.0     1
                                    20:30  2009  1      21   21    95.0     1
                                    20:45  2009  1      21   21    95.0     1
                                                                           ..
                       11-Dec-2018  05:30  2018  12     11   6     294.0    1
                                    05:45  2018  12     11   6     295.0    1
                                    06:00  2018  12     11   7     298.0    1
                                    06:15  2018  12     11   7     310.0    1
                       31-Oct-2018  23:30  2018  10     31   24    281.0    1
Name: count, Length: 252943, dtype: int64

In [6]:
df_ITO['dd-mmm-yyyy'].unique()

array(['05-Sep-2006', '06-Sep-2006', '07-Sep-2006', ..., '27-Apr-2019',
       '29-Apr-2019', '30-Apr-2019'], dtype=object)

In [7]:
df_ITO_2years = df_ITO[df_ITO['dd-mmm-yyyy'].str.contains('2017|2018')]
df_ITO_2years

,station,city,dd-mmm-yyyy,hh:mm,year,month,day,hour,value
705249,ITO,Delhi - CPCB,01-Jan-2017,00:00,2017,1,1,1,566.0
705250,ITO,Delhi - CPCB,01-Jan-2017,00:15,2017,1,1,1,576.0
705251,ITO,Delhi - CPCB,01-Jan-2017,00:30,2017,1,1,1,578.0
705252,ITO,Delhi - CPCB,01-Jan-2017,00:45,2017,1,1,1,579.0
705253,ITO,Delhi - CPCB,01-Jan-2017,01:00,2017,1,1,2,577.0
...,...,...,...,...,...,...,...,...,...
1921774,ITO,Delhi - CPCB,31-Dec-2018,22:30,2018,12,31,23,398.0
1921775,ITO,Delhi - CPCB,31-Dec-2018,22:45,2018,12,31,23,408.0
1921776,ITO,Delhi - CPCB,31-Dec-2018,23:00,2018,12,31,24,415.0
1921777,ITO,Delhi - CPCB,31-Dec-2018,23:15,2018,12,31,24,422.0
1921778,ITO,Delhi - CPCB,31-Dec-2018,23:30,2018,12,31,24,432.0

In [8]:
#save dataset to csv
df_ITO_2years.to_csv('ITO_2years.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'ITO_2years.csv'

In [ ]:
df_ITO_2years.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55499 entries, 705249 to 1921778
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   station      55499 non-null  object
 1   city         55499 non-null  object
 2   dd-mmm-yyyy  55499 non-null  object
 3   hh:mm        55499 non-null  object
 4   year         55499 non-null  int64
 5   month        55499 non-null  int64
 6   day          55499 non-null  int64
 7   hour         55499 non-null  int64
 8   value        55499 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 4.2+ MB

This is the dataset we would be working on.

Baseline model: We would be using a simple LSTM model to predict the weather forecast.

In [10]:
df_RKP = df[df['station'] == 'R K Puram']
df_RKP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160872 entries, 119781 to 2354406
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   station      160872 non-null  object
 1   city         160872 non-null  object
 2   dd-mmm-yyyy  160872 non-null  object
 3   hh:mm        160872 non-null  object
 4   year         160872 non-null  int64
 5   month        160872 non-null  int64
 6   day          160872 non-null  int64
 7   hour         160872 non-null  int64
 8   value        160872 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 12.3+ MB